$bgColor: #f0f2f5;
$borderColor: #99c1f4;
$borderDefaultColor: #dcdfe6;
$borderFocusColor: #409eff;
$panelBackground: #fff;
$inputHeight: 25px;
$marginBottom: 10px;

/** 公共样式 **/

body{ // 避免页面滑动条确实导致的页面闪烁
  overflow-y: scroll;
}

ol,
ol,
li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::before {
  display: block;
  content: "";
  clear: both;
  zoom: 1;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
  zoom: 1;
}

.pointer {
  input {
    cursor: pointer;
  }
}

.app-container {
  min-height: calc(100vh - 50px);
  padding-bottom: 60px;
  background: #F5F5F5;
  padding: 10px 20px;
}

.pagination {
  margin-top: 20px;
  text-align: right;
}

.process-step-data {
  .header-icon {
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      opacity: .8;
    }
  }
}

.user-detail-container {
  .user-name {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
  }
  .el-form-item {
    margin-bottom: 3px;
    
    .el-form-item__label {
      font-weight: normal;
      color: #999;
      font-size: 14px;
      text-align: right;
    }

    // .el-form-item__content {
    //   color:
    // }
  }
}

